
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
  font-size: -webkit-xxx-large;
}

h2 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
}

h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
}

h4 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
}

h5 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
}

h6 {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: rgb(16, 119, 111);
}

p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  color: rgb(28, 103, 97);
}

/*Links*/
.ref_link{
  color: rgb(16, 119, 111);
  font-weight: bold;
}
